script#template-map(type='text/template')
  .container-full#map.clearfix
    ul#map-buttons.buttons
      li.icon-zoom-in.zoom
      li.icon-zoom-out.zoom
      li.icon-resize-normal.zoom
      li.icon-help(title="Click and drag the globe to rotate")
    svg#map-svg
    .spacer
    .container
      .legend
        svg
        span.label Legend Text