script#template-slider(type='text/template')
  #slider
    .ticks
    .inner
      .handle.tick
        .left.icon-left-open-1
        .label
        .right.icon-right-open-1
      .tick.left
      .tick.right